@import '../../assets/styles/variables';

.header {
  background: linear-gradient(0deg, #666060 0%, $headerBackground 100%);
  color: $headerTextColor;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}