$headerBackground: #363532;
$toolbarBackground: #3e3d39;
$headerTextColor: #b8b8ba;
$codeEditerBackground: #1e1e1e;
$foldersBackground: #252525;
$fileNameTadBackgrounf: #383838;
$componentNameColor: #41bf9a;
$stringColor: #ba958f;
$importFromColor: #b27fb8;
$attributeNameColor: #8ac3d7;
$tagNameColor: #43c19c;
$tagArrowColor: #747379;
$functionSignColor: #d2d1cf;
$functionName: #c6ce95;